#main{

    padding: 0%;
    
}

#messageaccueil{
    font-family: 'Roboto Slab', serif;
    margin-top: 120px;
}
#buttons{
    font-family: 'Lato', sans-serif;
}


.container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Roboto Slab', serif;
    border-radius: 10px;


}

.nav-link,.nav-link:focus{
    color: whitesmoke;
}
.nav-link:hover{
    color:rgb(28, 6, 155);
}
.nav-link:focus{
    color:royalblue;
}

.card li{
    margin-top: 15px;
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li, .rating-list li.selected {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }

  .navbar-toggler{
    display: none;

}
  @media screen and (max-width:767px) {

    nav{
            display: none;
    }
    nav a{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
        
    .navbar-toggler{
        display: block;
    
    }
    #barre{
        background-color: #161c2d;
    }
    #navbartoggle{
        background-color: #161c2d;
    
    }
    
        #accueil{
            display: flex;
            flex-direction: column;
        }
    
        #messageaccueil{
            margin-top: 30px;
            margin-bottom: 20px;
        }
    
        #carddetails{
            display: flex;
            flex-direction: column;
            
        }
    
        .card{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
        .dflex{
            width: 100%;
        }
    
        #aboo{
            width: 100%;
        }
        
    }
    